/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/admin
/public/frontend
/public/storage
/storage/*.key
/storage/pail
/resources/views/1_admin-template
/resources/views/1_edu-core-frontend
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
